## laptop_data_cleaned.csv

In [4]:
import pandas as pd

In [5]:
df=pd.read_csv(r"C:\Users\ASUS\Downloads\laptop_data_cleaned.csv")

In [6]:
df

,Company,TypeName,Ram,Weight,Price,TouchScreen,Ips,Ppi,Cpu_brand,HDD,SSD,Gpu_brand,Os
0,Apple,Ultrabook,8,1.37,11.175755,0,1,226.983005,Intel Core i5,0,128,Intel,Mac
1,Apple,Ultrabook,8,1.34,10.776777,0,0,127.677940,Intel Core i5,0,0,Intel,Mac
2,HP,Notebook,8,1.86,10.329931,0,0,141.211998,Intel Core i5,0,256,Intel,Others
3,Apple,Ultrabook,16,1.83,11.814476,0,1,220.534624,Intel Core i7,0,512,AMD,Mac
4,Apple,Ultrabook,8,1.37,11.473101,0,1,226.983005,Intel Core i5,0,256,Intel,Mac
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1268,Asus,Notebook,4,2.20,10.555257,0,0,100.454670,Intel Core i7,500,0,Nvidia,Windows
1269,Lenovo,2 in 1 Convertible,4,1.80,10.433899,1,1,157.350512,Intel Core i7,0,128,Intel,Windows
1270,Lenovo,2 in 1 Convertible,16,1.30,11.288115,1,1,276.053530,Intel Core i7,0,512,Intel,Windows
1271,Lenovo,Notebook,2,1.50,9.409283,0,0,111.935204,Other Intel Processor,0,0,Intel,Windows
1272,HP,Notebook,6,2.19,10.614129,0,0,100.454670,Intel Core i7,1000,0,AMD,Windows

In [7]:
df.head()

,Company,TypeName,Ram,Weight,Price,TouchScreen,Ips,Ppi,Cpu_brand,HDD,SSD,Gpu_brand,Os
0,Apple,Ultrabook,8,1.37,11.175755,0,1,226.983005,Intel Core i5,0,128,Intel,Mac
1,Apple,Ultrabook,8,1.34,10.776777,0,0,127.677940,Intel Core i5,0,0,Intel,Mac
2,HP,Notebook,8,1.86,10.329931,0,0,141.211998,Intel Core i5,0,256,Intel,Others
3,Apple,Ultrabook,16,1.83,11.814476,0,1,220.534624,Intel Core i7,0,512,AMD,Mac
4,Apple,Ultrabook,8,1.37,11.473101,0,1,226.983005,Intel Core i5,0,256,Intel,Mac

In [8]:
df.tail()

,Company,TypeName,Ram,Weight,Price,TouchScreen,Ips,Ppi,Cpu_brand,HDD,SSD,Gpu_brand,Os
1268,Asus,Notebook,4,2.20,10.555257,0,0,100.454670,Intel Core i7,500,0,Nvidia,Windows
1269,Lenovo,2 in 1 Convertible,4,1.80,10.433899,1,1,157.350512,Intel Core i7,0,128,Intel,Windows
1270,Lenovo,2 in 1 Convertible,16,1.30,11.288115,1,1,276.053530,Intel Core i7,0,512,Intel,Windows
1271,Lenovo,Notebook,2,1.50,9.409283,0,0,111.935204,Other Intel Processor,0,0,Intel,Windows
1272,HP,Notebook,6,2.19,10.614129,0,0,100.454670,Intel Core i7,1000,0,AMD,Windows

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1273 entries, 0 to 1272
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Company      1273 non-null   object
 1   TypeName     1273 non-null   object
 2   Ram          1273 non-null   int64
 3   Weight       1273 non-null   float64
 4   Price        1273 non-null   float64
 5   TouchScreen  1273 non-null   int64
 6   Ips          1273 non-null   int64
 7   Ppi          1273 non-null   float64
 8   Cpu_brand    1273 non-null   object
 9   HDD          1273 non-null   int64
 10  SSD          1273 non-null   int64
 11  Gpu_brand    1273 non-null   object
 12  Os           1273 non-null   object
dtypes: float64(3), int64(5), object(5)
memory usage: 129.4+ KB

In [10]:
df.columns

Index(['Company', 'TypeName', 'Ram', 'Weight', 'Price', 'TouchScreen', 'Ips',
       'Ppi', 'Cpu_brand', 'HDD', 'SSD', 'Gpu_brand', 'Os'],
      dtype='object')

In [11]:
df.describe()

,Ram,Weight,Price,TouchScreen,Ips,Ppi,HDD,SSD
count,1273.000000,1273.000000,1273.000000,1273.000000,1273.000000,1273.000000,1273.000000,1273.000000
mean,8.447761,2.041100,10.828218,0.146897,0.279654,146.950812,413.715632,186.252946
std,5.098771,0.669241,0.619565,0.354142,0.449006,42.926775,518.054486,186.531571
min,2.000000,0.690000,9.134616,0.000000,0.000000,90.583402,0.000000,0.000000
25%,4.000000,1.500000,10.387379,0.000000,0.000000,127.335675,0.000000,0.000000
50%,8.000000,2.040000,10.872255,0.000000,0.000000,141.211998,0.000000,256.000000
75%,8.000000,2.310000,11.287447,0.000000,1.000000,157.350512,1000.000000,256.000000
max,64.000000,4.700000,12.691441,1.000000,1.000000,352.465147,2000.000000,1024.000000

In [12]:
df.isnull()

,Company,TypeName,Ram,Weight,Price,TouchScreen,Ips,Ppi,Cpu_brand,HDD,SSD,Gpu_brand,Os
0,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1268,False,False,False,False,False,False,False,False,False,False,False,False,False
1269,False,False,False,False,False,False,False,False,False,False,False,False,False
1270,False,False,False,False,False,False,False,False,False,False,False,False,False
1271,False,False,False,False,False,False,False,False,False,False,False,False,False
1272,False,False,False,False,False,False,False,False,False,False,False,False,False

In [13]:
df.isnull().sum()

Company        0
TypeName       0
Ram            0
Weight         0
Price          0
TouchScreen    0
Ips            0
Ppi            0
Cpu_brand      0
HDD            0
SSD            0
Gpu_brand      0
Os             0
dtype: int64

In [14]:
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
1268    False
1269    False
1270    False
1271    False
1272    False
Length: 1273, dtype: bool

In [15]:
df=df.dropna()

In [16]:
df =df.drop(['TypeName','Cpu_brand','Gpu_brand'], axis=1 )

In [17]:
df

,Company,Ram,Weight,Price,TouchScreen,Ips,Ppi,HDD,SSD,Os
0,Apple,8,1.37,11.175755,0,1,226.983005,0,128,Mac
1,Apple,8,1.34,10.776777,0,0,127.677940,0,0,Mac
2,HP,8,1.86,10.329931,0,0,141.211998,0,256,Others
3,Apple,16,1.83,11.814476,0,1,220.534624,0,512,Mac
4,Apple,8,1.37,11.473101,0,1,226.983005,0,256,Mac
...,...,...,...,...,...,...,...,...,...,...
1268,Asus,4,2.20,10.555257,0,0,100.454670,500,0,Windows
1269,Lenovo,4,1.80,10.433899,1,1,157.350512,0,128,Windows
1270,Lenovo,16,1.30,11.288115,1,1,276.053530,0,512,Windows
1271,Lenovo,2,1.50,9.409283,0,0,111.935204,0,0,Windows
1272,HP,6,2.19,10.614129,0,0,100.454670,1000,0,Windows

In [18]:
cat_col=df.select_dtypes(include='object')
cat_col

     Company       Os
0      Apple      Mac
1      Apple      Mac
2         HP   Others
3      Apple      Mac
4      Apple      Mac
...      ...      ...
1268    Asus  Windows
1269  Lenovo  Windows
1270  Lenovo  Windows
1271  Lenovo  Windows
1272      HP  Windows

[1273 rows x 2 columns]

In [19]:
df['Company'].unique()

array(['Apple', 'HP', 'Acer', 'Asus', 'Dell', 'Lenovo', 'Chuwi', 'MSI',
       'Microsoft', 'Toshiba', 'Huawei', 'Xiaomi', 'Vero', 'Razer',
       'Mediacom', 'Samsung', 'Google', 'Fujitsu', 'LG'], dtype=object)

In [20]:
company_dict={'Apple':1, 'HP':2, 'Acer':3, 'Asus':4, 'Dell':5, 'Lenovo':6, 'Chuwi':7, 'MSI':8,
       'Microsoft':9, 'Toshiba':10, 'Huawei':11, 'Xiaomi':12, 'Vero':13, 'Razer':14,
       'Mediacom':15, 'Samsung':16, 'Google':17, 'Fujitsu':18, 'LG':19}

In [21]:
company_dict

{'Apple': 1,
 'HP': 2,
 'Acer': 3,
 'Asus': 4,
 'Dell': 5,
 'Lenovo': 6,
 'Chuwi': 7,
 'MSI': 8,
 'Microsoft': 9,
 'Toshiba': 10,
 'Huawei': 11,
 'Xiaomi': 12,
 'Vero': 13,
 'Razer': 14,
 'Mediacom': 15,
 'Samsung': 16,
 'Google': 17,
 'Fujitsu': 18,
 'LG': 19}

In [22]:
df['Company']=df['Company'].map(company_dict)

In [23]:
df

,Company,Ram,Weight,Price,TouchScreen,Ips,Ppi,HDD,SSD,Os
0,1,8,1.37,11.175755,0,1,226.983005,0,128,Mac
1,1,8,1.34,10.776777,0,0,127.677940,0,0,Mac
2,2,8,1.86,10.329931,0,0,141.211998,0,256,Others
3,1,16,1.83,11.814476,0,1,220.534624,0,512,Mac
4,1,8,1.37,11.473101,0,1,226.983005,0,256,Mac
...,...,...,...,...,...,...,...,...,...,...
1268,4,4,2.20,10.555257,0,0,100.454670,500,0,Windows
1269,6,4,1.80,10.433899,1,1,157.350512,0,128,Windows
1270,6,16,1.30,11.288115,1,1,276.053530,0,512,Windows
1271,6,2,1.50,9.409283,0,0,111.935204,0,0,Windows
1272,2,6,2.19,10.614129,0,0,100.454670,1000,0,Windows

In [24]:
df['Os'].unique()

array(['Mac', 'Others', 'Windows'], dtype=object)

In [25]:
Os_dict={'Mac':0, 'Others':1, 'Windows':2}

In [26]:
df['Os']=df['Os'].map(Os_dict)

In [27]:
df

,Company,Ram,Weight,Price,TouchScreen,Ips,Ppi,HDD,SSD,Os
0,1,8,1.37,11.175755,0,1,226.983005,0,128,0
1,1,8,1.34,10.776777,0,0,127.677940,0,0,0
2,2,8,1.86,10.329931,0,0,141.211998,0,256,1
3,1,16,1.83,11.814476,0,1,220.534624,0,512,0
4,1,8,1.37,11.473101,0,1,226.983005,0,256,0
...,...,...,...,...,...,...,...,...,...,...
1268,4,4,2.20,10.555257,0,0,100.454670,500,0,2
1269,6,4,1.80,10.433899,1,1,157.350512,0,128,2
1270,6,16,1.30,11.288115,1,1,276.053530,0,512,2
1271,6,2,1.50,9.409283,0,0,111.935204,0,0,2
1272,2,6,2.19,10.614129,0,0,100.454670,1000,0,2

In [28]:
num_cal=df.select_dtypes(exclude='object')

In [29]:
num_cal

,Company,Ram,Weight,Price,TouchScreen,Ips,Ppi,HDD,SSD,Os
0,1,8,1.37,11.175755,0,1,226.983005,0,128,0
1,1,8,1.34,10.776777,0,0,127.677940,0,0,0
2,2,8,1.86,10.329931,0,0,141.211998,0,256,1
3,1,16,1.83,11.814476,0,1,220.534624,0,512,0
4,1,8,1.37,11.473101,0,1,226.983005,0,256,0
...,...,...,...,...,...,...,...,...,...,...
1268,4,4,2.20,10.555257,0,0,100.454670,500,0,2
1269,6,4,1.80,10.433899,1,1,157.350512,0,128,2
1270,6,16,1.30,11.288115,1,1,276.053530,0,512,2
1271,6,2,1.50,9.409283,0,0,111.935204,0,0,2
1272,2,6,2.19,10.614129,0,0,100.454670,1000,0,2

In [30]:
X = df.drop("Price", axis=1)
y = df[["Price"]]

In [31]:
X

      Company  Ram  Weight  TouchScreen  Ips         Ppi   HDD  SSD  Os
0           1    8    1.37            0    1  226.983005     0  128   0
1           1    8    1.34            0    0  127.677940     0    0   0
2           2    8    1.86            0    0  141.211998     0  256   1
3           1   16    1.83            0    1  220.534624     0  512   0
4           1    8    1.37            0    1  226.983005     0  256   0
...       ...  ...     ...          ...  ...         ...   ...  ...  ..
1268        4    4    2.20            0    0  100.454670   500    0   2
1269        6    4    1.80            1    1  157.350512     0  128   2
1270        6   16    1.30            1    1  276.053530     0  512   2
1271        6    2    1.50            0    0  111.935204     0    0   2
1272        2    6    2.19            0    0  100.454670  1000    0   2

[1273 rows x 9 columns]

In [32]:
y

          Price
0     11.175755
1     10.776777
2     10.329931
3     11.814476
4     11.473101
...         ...
1268  10.555257
1269  10.433899
1270  11.288115
1271   9.409283
1272  10.614129

[1273 rows x 1 columns]

## Linear Regression

In [33]:
!pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\asus\appdata\local\programs\python\python311\lib\site-packages (1.7.0)
Requirement already satisfied: numpy>=1.22.0 in c:\users\asus\appdata\local\programs\python\python311\lib\site-packages (from scikit-learn) (2.3.0)
Requirement already satisfied: scipy>=1.8.0 in c:\users\asus\appdata\local\programs\python\python311\lib\site-packages (from scikit-learn) (1.15.3)
Requirement already satisfied: joblib>=1.2.0 in c:\users\asus\appdata\local\programs\python\python311\lib\site-packages (from scikit-learn) (1.5.1)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\asus\appdata\local\programs\python\python311\lib\site-packages (from scikit-learn) (3.6.0)

[notice] A new release of pip is available: 23.2.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [34]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [35]:
X_train.shape,X_test.shape,y_train.shape,y_test.shape

((1018, 9), (255, 9), (1018, 1), (255, 1))

In [36]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [37]:
model=LinearRegression()

In [38]:
model.fit(X_train, y_train)

LinearRegression()

In [39]:
print("Training score:-",model.score(X_train,y_train))

Training score:- 0.618113464167103

In [40]:
print("Testing score:-",model.score(X_test,y_test))

Testing score:- 0.5951986757162591

In [41]:
pred=model.predict(X_test)

In [42]:
pred=pred.ravel()

In [43]:
import numpy as np
import pandas as pd

In [44]:

y_test=np.array(y_test).ravel()

In [45]:
history=pd.DataFrame({"predicted":pred,"actual":y_test})

In [46]:
history

     predicted     actual
0    11.254370  11.470547
1    10.637638  10.510802
2    10.829470  10.977717
3    10.935405  10.977717
4    10.298574  10.452533
..         ...        ...
250  10.826675  11.288115
251  10.482094  10.539417
252  11.238404  11.224776
253  11.305776  11.470547
254  10.456614  10.060060

[255 rows x 2 columns]

In [47]:
import joblib
joblib.dump(model,'linear_regression_model')

['linear_regression_model']

In [48]:
model =joblib.load('linear_regression_model')

In [49]:
model.predict(X_test)

array([[11.25436997],
       [10.63763754],
       [10.82947041],
       [10.9354054 ],
       [10.2985737 ],
       [11.57131572],
       [11.31123878],
       [10.8892704 ],
       [10.86316538],
       [10.62560393],
       [10.70874252],
       [11.22741841],
       [10.87065571],
       [10.30530195],
       [10.27958808],
       [10.5745141 ],
       [11.1526747 ],
       [10.91257658],
       [10.31818967],
       [10.10619666],
       [11.29145513],
       [10.29015904],
       [10.2963181 ],
       [10.56357308],
       [10.53309675],
       [11.15741803],
       [10.8587253 ],
       [11.4390608 ],
       [10.5526924 ],
       [10.66195511],
       [10.72974248],
       [11.36996913],
       [10.95516106],
       [11.28894817],
       [10.90509322],
       [10.56473593],
       [10.29015904],
       [10.34736726],
       [10.64192817],
       [10.22141239],
       [10.44832395],
       [10.63639985],
       [11.0712146 ],
       [10.84687492],
       [10.76524818],
       [10.86437314],
       [10.74518861],
       [10.54278637],
       [10.48209431],
       [10.22417161],
       [10.86426825],
       [11.38265048],
       [10.2963181 ],
       [10.44984258],
       [10.40657337],
       [10.66750404],
       [10.8990243 ],
       [10.8559783 ],
       [10.52752858],
       [11.16597911],
       [10.15347179],
       [10.88803271],
       [10.42407503],
       [10.86913853],
       [10.56922991],
       [10.88388009],
       [11.26391291],
       [11.20307388],
       [10.91745965],
       [10.87321899],
       [10.75670388],
       [10.47050786],
       [10.77479111],
       [10.48519214],
       [10.53813912],
       [10.33068139],
       [11.31380602],
       [10.95877267],
       [10.47205566],
       [10.45963688],
       [11.43615934],
       [10.66817887],
       [10.82380087],
       [10.8885012 ],
       [11.41635736],
       [10.31246226],
       [10.39656438],
       [10.23668737],
       [10.45177633],
       [10.45774736],
       [10.46366998],
       [10.7180859 ],
       [10.31103157],
       [10.85585877],
       [10.97791698],
       [10.87532698],
       [11.22313096],
       [10.77467159],
       [11.49408207],
       [11.09558771],
       [10.59140014],
       [10.59488861],
       [10.94079058],
       [10.87011342],
       [10.46443206],
       [10.94156576],
       [10.51333103],
       [10.63083647],
       [10.56357308],
       [10.2797076 ],
       [10.48753726],
       [10.87975969],
       [10.96451315],
       [10.55028131],
       [10.63875571],
       [10.14071748],
       [11.25368828],
       [10.78162359],
       [10.94741858],
       [11.05570973],
       [10.87532698],
       [10.48209431],
       [10.31981337],
       [11.49055891],
       [10.45371426],
       [11.84509556],
       [10.62450107],
       [10.62989138],
       [10.84519767],
       [10.69926487],
       [10.71089707],
       [10.60517873],
       [10.74972127],
       [10.76816311],
       [10.33925896],
       [10.85414696],
       [11.04716054],
       [10.95786503],
       [10.32013495],
       [10.47141914],
       [10.69492523],
       [10.77209596],
       [10.1938664 ],
       [10.65636881],
       [10.73184168],
       [10.32210474],
       [10.75670388],
       [10.36307581],
       [10.46376787],
       [10.52429454],
       [10.99345293],
       [11.18608289],
       [10.70357199],
       [10.38036927],
       [11.52418909],
       [10.5802627 ],
       [10.63516217],
       [10.88155646],
       [10.43222649],
       [10.28365056],
       [10.25864207],
       [11.24862998],
       [10.11076207],
       [11.48117912],
       [10.14344325],
       [10.82697973],
       [10.42463411],
       [11.51970105],
       [10.85911301],
       [10.55028131],
       [10.71728195],
       [11.12911886],
       [10.53032391],
       [10.76768898],
       [10.11076207],
       [10.40356858],
       [10.31462511],
       [10.96091961],
       [11.09667604],
       [10.31122457],
       [10.85147121],
       [10.38303545],
       [10.55559218],
       [10.83597888],
       [10.72418459],
       [10.93629497],
       [11.4390608 ],
       [11.45156596],
       [10.46165123],
       [10.29136734],
       [10.3415791 ],
       [10.86313081],
       [11.20669368],
       [10.84519767],
       [10.87382648],
       [10.93595567],
       [10.72385645],
       [10.6082106 ],
       [10.49170061],
       [11.62866852],
       [10.92407944],
       [10.95337311],
       [11.16718436],
       [10.4679689 ],
       [10.65885949],
       [10.74278854],
       [10.67289435],
       [10.47225878],
       [10.94691304],
       [13.25366752],
       [10.29588866],
       [10.76041695],
       [10.84519767],
       [10.30653964],
       [10.96099093],
       [10.65424765],
       [10.43453244],
       [11.12911886],
       [10.4700782 ],
       [11.4108056 ],
       [11.41487475],
       [10.1087723 ],
       [11.48157505],
       [11.3053362 ],
       [10.43485566],
       [10.92894533],
       [10.33207187],
       [10.90611481],
       [11.31971036],
       [10.57707952],
       [10.1330287 ],
       [10.33073393],
       [11.93265178],
       [10.57707952],
       [10.32698273],
       [11.23840351],
       [10.67673995],
       [11.07531519],
       [10.67042379],
       [10.30530195],
       [10.8652654 ],
       [10.30777733],
       [10.81366269],
       [11.03745709],
       [10.86241599],
       [10.29587854],
       [10.29015904],
       [10.37212509],
       [10.75670388],
       [10.63285986],
       [10.82667536],
       [10.48209431],
       [11.23840351],
       [11.30577575],
       [10.4566139 ]])