In [17]:
class Myclass:      
    x=5
    y=10

In [18]:
#create object

p1= Myclass()  ##p1 is object and Myclass is class

In [19]:
print(p1.x)
print(p1.y)

5
10

In [20]:
#Inheritance
#polymorphism
#Abstraction
#Encapsulation

### Inheritance

In [1]:
# single inheritance
# multiple inheritance
# multilevel inheritance
# hybrid inheritance


class A:  #single
    pass
class B:
    pass

class A:#multiple
    pass
class c:
    pass
class B(c):
    pass

In [3]:
class Parent:
    father_name="Akhilesh"
    mother_name="Sushma"
class Child(Parent):
    child_name="kanchan"
    age=22
child_obj=Child()
print(child_obj.father_name)
print(child_obj.mother_name)
print(child_obj.child_name)
print(child_obj.age)

Akhilesh
Sushma
kanchan
22

In [ ]:
#multilevel inheritance

class Grandparent:
    pass
class Parent:
    pass
class child:
    pass

In [4]:
class Grandparent:
    grand_father_name="Hemant"
    grand_mother_name="Sunita"
    age=50
class Parent(Grandparent):
    father_name="Rahul"
    mother_name="Shivani"
    age=40
class Child(Parent):
    child_name="shiv"
    age=20
child_obj=Child()

In [6]:
print(f"grand father name{child_obj.grand_father_name}")
print(f"grand mother name{child_obj.grand_mother_name}")
print(f"father name{child_obj.father_name}")
print(f"mother name{child_obj.mother_name}")
print(f"child name{child_obj.child_name}")

grand father nameHemant
grand mother nameSunita
father nameRahul
mother nameShivani
child nameshiv

In [7]:
#multiple inheritance

class A:
    pass
class B:
        pass
class C(A,B):
        pass

In [8]:
class Parent:
    father_name="Hemant"
    mother_name="sunita"
class Uncle:
    uncle_name="Ramlal"
    aunty_name="Rani"
    uncle_property="House"

class Child(Parent,Uncle):
    pass
child_obj=Child()
print(child_obj.father_name)
print(child_obj.mother_name)
print(child_obj.uncle_name)
print(child_obj.aunty_name)
print(child_obj.uncle_property)

Hemant
sunita
Ramlal
Rani
House

In [9]:
class Calculator:
    def add(self,a,b):
        return a+b
    
    def multiply(self,a,b):
        return a*b

obj=Calculator()
print("addition:",obj.add(10,20))
print("Multiplication:",obj.multiply(10,20))

addition: 30
Multiplication: 200

In [13]:
class Student:
    def set_data(self,name,age):
        self.name=name  ###instance variable
        self.age=age    ### instance variable
        
        
    def display(self):
            print(f"student name:{self.name}, and student age:{self.age}")
            
obj=Student()
obj.set_data("kanchan",20)

In [14]:
obj.display()

student name:kanchan, and student age:20

In [4]:
##calculate the area of circle


class Circle:
    def set_radius(self, r): self.r = r
    def get_area(self):
        return 3.14 * self.r * self.r

c = Circle()
c.set_radius(7)
print(c.get_area())

153.86

In [5]:
class Classname:
    def __init__(self,param1,param2):
        pass

In [18]:
class Student:
    def __init__(self, name, roll):
        pass
    def display(self):
        pass
    
s1=Student("name",14)
s1.display()

In [19]:
class Student:
    def __init__(self, name, roll):
        self.name=name
        self.roll=roll
    def display(self):
        print(f"Student name:{self.name}, and student roll:{self.roll}")
        
s1=Student(name="kanchan",roll=14)
s1.display()

Student name:kanchan, and student roll:14

In [20]:
class Demo:
    def __init__(self):
        self.a=20
        self.b=10
        
        print("hello hiii kaise ho")
obj=Demo()

hello hiii kaise ho

In [ ]:
##task 2
class Car:
    def __init__(self, brand, info):
        self.brand = brand
        self.info = info

    def display(self):
        print(f"Brand: {self.brand}")
        print(f"Info: {self.info}")

my_car = Car("Toyota", "Sedan, 2022 model, Automatic")
my_car.display()

Brand: Toyota
Info: Sedan, 2022 model, Automatic

### Encapsulation in Python

In [21]:
class Employes:
    def __init__(self,name,salary):
        self.name=name
        self.__salary=salary
    def show_info(self):
        print(f"name:{self.name} and salary:{self.__salary}")  
        
        ### getter method
    def get_salary(self):
        return self.__salary
    
    ### setter method
    def set_salary(self,amount):
        if amount>0:
            
            self.__salary=amount
        else:
            print("Invalid salary")
            
obj=Employes(name="kanchan",salary=500000)

obj.show_info()

name:kanchan and salary:500000

In [22]:
obj.get_salary()

500000

In [23]:
obj.set_salary(600000)

In [24]:
obj.show_info()

name:kanchan and salary:600000

In [25]:
class Student:
    def __init__(self,name):
        self.name=name
    def display(self):
        print(f"student name:{self.name}")
        
s1=Student("kanchan") 
s1.display()

student name:kanchan

In [28]:
class Student:
    def __init__(self):
        self.__name= name ##private variable
    def display(self):
        print(f"student name:{self.__name}")   
    def set_name(self):
        return self.__name
    
s1.display()

student name:kanchan